{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/abi
        {:git/url "https://github.com/kotoba-lang/abi.git"
         :git/sha "4172242a524c8ab88e4b7036e30ae492b46fc484"}
        io.github.kotoba-lang/kotoba-kir
        {:git/url "https://github.com/kotoba-lang/kotoba-kir.git"
         :git/sha "e2cabbc6773ae24f407f61aa0a50844f0fabc377"}
        io.github.kotoba-lang/kotoba-wasm
        {:git/url "https://github.com/kotoba-lang/kotoba-wasm.git"
         :git/sha "591070aab82003551ee7a591ef623add74bab290"}}
 :aliases {:doctor {:main-opts ["-m" "kotoba.component.doctor"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
